html {
--color-background: #eee;
}

.App {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  display: block;
  text-align: center;
  height:100%;
  background-color: var(--color-background);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
